[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
numpy = "*"
scikit-learn = "*"
sklearn = "*"
pandas = "*"
scikit-metrics = "*"
naive-bayes = "*"
requests = "*"
flask-mysqldb = "*"
pyopenssl = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
